.testimonials {
    background-color: #fff9f8;
    padding: 0 20px;
    .inner {
        padding: 100px 0;
        @media (max-width: 600px) {
            padding: 50px 0;
        }
    }
    .testimonials-wrap {
        background-color: transparent;
        border: 0;
        .flex-nav-prev, .flex-nav-next {
            display: none;
        }
        .flex-control-paging li a {
            background: lighten($spa-pink, 10%);
            box-shadow: none;
            &.flex-active {
                background: $spa-pink;
            }
        }
        ul.slides {
            text-align: center;
            li {
                p {
                    line-height: 1.8em;
                    font-size: 1.1em;
                    font-family: $heading-font;
                    color: black;
                    max-width: 920px;
                    margin: 0 auto;
                    margin-bottom: 25px;
                    &:before {
                        content: " ";
                        display: block;
                        width: 50px;
                        height: 50px;
                        background: url(../uploads/quote.svg) no-repeat;
                        background-position: center;
                        background-size: contain;
                        margin: 0 auto;
                        margin-bottom: 25px;
                    }
                }
                .image {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 25px;
                    img {
                        width: 120%;
                    }
                }
            }
        }
    }
}